body{
    margin:0px;
    padding:0px;
    width:100wv;
    height:100vh;
    background-image: url(81.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    
  }

div{
    
    height:250px ;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
    position:absolute;
    top:calc(50% - 125px);
    left:calc(50% - 125px);
    box-shadow: 0px 0px 20px 3px rgb(244, 243, 247);
    overflow: hidden;  
    animation: anime 20s infinite linear ;
}

@keyframes anime{

    0%{
        top:calc(50% - 125px);
            left:calc(50% - 125px);
        transform:rotate(0deg);

    }
    
   17%{
        top:0px;
        left:0px;
        transform:rotate(72deg);
        
      }
      34%{
        top:0px;
        left:calc(100% - 250px);
        transform:rotate(144deg);
        
        
      }
      50%{
        top:calc(100% - 250px);
        left:calc(100% - 250px);
        transform:rotate(216deg);
        
      }
      67%{
        top:calc(100% - 250px);
        left:0px;
        transform:rotate(288deg);
        
      
      }
      
        100%{
            top:calc(50% - 125px);
            left:calc(50% - 125px);
            transform:rotate(360deg);
    
        }
}