/*BACKGROUND-colors*/

.b-c-fbf9f7{
    background-color: #fbf9f7;
}

.b-c-white{
    background-color: white;
}

.b-c-373737{
    background-color: #373737;
}



/*BORDERS*/

.b-1-37{
    border: 1px solid #373737;
}

.b-r-25{
    border-radius: 25px;
}

.bord-top-col-e5d0cf-12px{
    border-top: 12px solid #e5d0cf;
}

.b-r-50{
    
    border-radius: 50%;
    
}

.b-white{
    border:20px  solid white;
}

.b-pink{
    border:1px solid #e5d0cf;
}


/*COLORS*/

.color-9e8786{
    color: #9e8786;
}

.color-7A7A7A{
    color: #7A7A7A ;
}

.color-white{
    color: white;
}
/*FONT-FAMILY*/

.f-fam-lora-serif{
    font-family: 'Lora', serif;;
    }
    

/*FONT-SIZE*/
.font-size-13{
    font-size: 13px;
}

.font-size-15{
    font-size: 15px;
}



.font-size-18-5{
    font-size: 18.5px;
}

.font-size-24{
    font-size: 24px;
}


.font-size-26{
    font-size: 26px;
}

.font-size-40{
    font-size: 40px;
}

.font-weight-400{
    font-weight: 400;
}

.font-weight-500{
    font-weight: 500;
}

.font-weight-600{
    font-weight: 600;
}

/*HEIGHT*/

.height-30{
    height: 40px;
}

.height-60{
    height: 60px;
}

.height-90{
    height: 90px;
}

.height-100{
    height: 100px;
}

.height-105{
    height: 105px;
}

.height-110{
    height: 110px;
}

.height-130{
    height: 130px;
}


.height-140{
    height: 140px;
}


.height-150{
    height: 150px;
}
.height-160{
    height: 160px;
}

.height-180{
    height: 180px;
}
.height-200{
    height: 200px;
}

.height-250{
    height: 250px;
}

.height-271{
    height: 271px;
}

.height-330{
    height: 330px;
}


.height-370{
    height: 370px;
}


.height-380{
    height: 380px;
}

.height-440{
    height: 440px;
}

.height-445{
    height: 445px;
}

.height-480{
    height: 480px;
}

.height-550{
    height: 550px;
    
}

.width-100{
    width: 100%;
}

.width-91{
    width: 91%;
}

.width-80{
    width: 91%;
}


/*HOVER*/
/*--------*/



/*IMAGES*/
.obj-fit{
    object-fit:cover;
}

.img-1{
    background-image: url(../img/1.jpg); 
}

.img-111{
    background-image: url(../img/111.jpg); 
}

.img-2{
    background-image: url(../img/2.jpg); 
}

.img-3{
    background-image: url(../img/3.jpg); 
}

.img-pen{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(../img/pen.jpg); 
}

.img-cal{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(../img/cal.jpg); 
}



.bac-repeat-no{
    background-repeat: no-repeat;
}

.bac-size-cover{
    background-size: cover;
}


.line{
    background: url(../img/title-bg.svg) no-repeat bottom center;
    background-size:60px ;
}
.dot{
    padding: 80px 12%;
    background: url(../img/dot.png) no-repeat center center;
}

.dott{
    width: 40%;
    background: url(../img/dot.png) no-repeat top left;
}


.dottt{
    width: 40%;
    background: url(../img/dot.png) no-repeat top left;
}





/*MARGIN*/
   /*top*/
.margin-t-10{
    margin-top: 10px;
}

.margin-t-20{
    margin-top: 20px;
}

.margin-t-25{
    margin-top: 25px;
}

.margin-t-60{
    margin-top: 60px;
}

.margin-t-75{
    margin-top: 75px;
}

.margin-t-165{
    margin-top: 165px;
}

.margin-t-195{
    margin-top: 195px;
}

.margin-t-210{
    margin-top: 210px;
}

/*bottom*/

.margin-b-10{
    margin-bottom: 10px;
}

.margin-b-50{
    margin-bottom: 50px;
}
    
.margin-b-60{
    margin-bottom: 60px;
}


.margin-b-170{
    margin-bottom: 170px;
}

/*--*/
.margin-10{
    margin: 10px;
}

.margin-80-0{
    margin: 80px 0px ;
}
.margin-250-0{
    margin: 150px 0px;
}

.margin-40-30{
    margin: 40px 0px 30px 0px;
}

.margin-50-0-0-38{
    margin: 50px 0px 0px 38px;
}

.margin-0-auto{
    margin: 0px auto;
}


.padding-l-50{
    margin-left: 50px;
}

.padding-r-50{
    margin-right: 50px;
}

.margin-100-40-0-40{
    margin:100px 40px 0px 40px;
}

/*--PADDING*/

.padding-80{
    padding:0px 80px;
}


.padding-0-0-25-0{
    padding: 0px 0 25px 0;
}
.padding-0-25{
    padding:0px 25px;
}
.padding-10-35{
    padding:10px 35px;
}

.padding-l-15{
    padding-left: 15px;;
}

.padding-0-15{
    padding:0px 20px;
}

.padding-0-35{
    padding:0px 35px;
}
.padding-b-70{
    padding-bottom: 70px;
}
.padding-40{
    padding:0px 20px;
}

.padding-10-50{
    padding:10px 50px;
}

.padding-t-60{
    padding-top: 60px;
}
.padding-15{
    padding: 15px;
}

.paddingg-40{
    padding: 40px 0px 0px 40px;
}

.padding-40-25{
    padding:40px 25px;
}




/*Position*/

.position-rel{
    position: relative;
}

.position-abs{
    position: absolute;
    top:57%;
    right:4%;
    left:4%
}

.position-abs-1{
    position: absolute;
    top:15%;
    right:15%;
    left:15%;
    bottom: 15%;

}





/*TEXT*/

.text-decoration-none{
    text-decoration: none;
}

.text-transform-uppercase{
    text-transform: uppercase;
}

.text-align-center{
    text-align: center;
}

.box-shadow-f4dad8{
    box-shadow: inset 0 -8px 0 #f4dad8;
}

.letter-space-1{
    letter-spacing: 2px;
}

.letter-space-0-5{
    letter-spacing: 0.5px;
}

/*
.br-r{
    border: 1px solid red;
    
    
}
.br{
    border: 1px solid black;
    
}
.br-g{
    border: 1px solid green;
    
}
.br-b{
    border: 1px solid blue;
    
}

.br-1{
    border: 1px solid red;
   
    
}
.br-2{
    border: 1px solid black;
   
   
}
.br-3{
    border: 1px solid green;
    
}
.br-4{
    border: 1px solid blue;
}

.height-65{
    height:65px;
}


