#green{
    background-color: rgb(24, 207, 24);
    height:150px;
    width:150px;
    
}

#yellow{
    background-color: yellow;
    height:150px;
    width:150px;
}

#red{
    background-color: red;
    height:150px;
    width:150px;
    
}

#pond6{
    display: flex;
    justify-content: center;
    align-items: center;

}

#pond7{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

}

#pond8{
    display: flex;
    flex-direction: row-reverse;

}

#pond9{
    display: flex;
    flex-direction: column;

}

#pond10{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

#pond11{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;

}

#pond12{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

}

#pond13{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;

}

#pond14{
    display: flex;
    

}

#yellow14{
    order:1;
    background-color: yellow;
    height:150px;
    width:150px;
}


