body{
    font-family: 'Charm';
}
.vertical{
    writing-mode: vertical-lr;
text-orientation: mixed;
transform: rotate(180deg);
color: white;

}

.list-style-none{
    list-style: none;
}
.pa-0{
    padding: 8px;
}
/*.b{
    border:1px solid black;
  upright;
text-orientation: sideways-right;
text-orientation: sideways;
text-orientation: use-glyph-orientation;
}*/

.b-c-EAE4E9{
    background-color: #EAE4E9;
    border: 1px solid #EAE4E9;
}

.b-c-w {
    background-color: white;
}
.b-c-FFF1E6{
    background-color: #FFF1E6;
}

.b-c-FFF1E6-2{
    background-color: #fcfaf9;
}

.b-c-FDE2E4{
    background-color: #FDE2E4;
}

.b-c-FAD2E1{
    background-color: #FAD2E1;
}

.b-c-E2ECE9{
    background-color: #E2ECE9;
}

.b-c-BEE1E6{
    background-color: #BEE1E6;
}

.b-c-F0EFEB{
    background-color: #F0EFEB;
}

.b-c-DFE7FD{
    background-color: #DFE7FD;
}

.b-c-CDDAFD{
    background-color: #CDDAFD;
}

.b-r-1{
    border-radius: 20px;
}

.m-r-10{
    margin-left: 10px;
}

.h{
    height: 940px;
}

.h-600{
    height: 600px;
}

.he-70{
    height: 70px;
}

.m-50{
    margin: 50px;
}

.wid-50{
    width: 3.4%;
}

.wid-90{
    width: 96.6%;
}

.texti{
  
    font-family: "Charm";
    font-size: 22px;
    color: black;
    text-decoration: none;
}
a,li,ul{
    color:black;
}
a:link{
    
}
.c{
    color: black;
}

h1,h3,tr,td,th{
    font-family: "Texturina";
}