body{
    margin: 0px;
    padding: 0px;
    color: #888;
    font-family: " Ubuntu",sans-serif;
}
.display{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#top{
    margin: 0 350px;
}
#top1{
    margin: 0 375px;
}

#menu li{
    list-style: none;
    padding: 10px;
}

#blacktop{
    background-color: #333;
    

}

#whitetop{
    background-color: #fff;
    height: 113px;
   
    
   
}
#searching{
    background-color: #333;
    
}

img{
    padding: 33px;
}

.icon{
   
    font-size: 20px;
    
}

.basketnumber{
    border: none;
    border-radius: 50%;
    background-color:rgba(136, 136, 136,0.1);
    color: black;
    padding: 5px 10px;
    margin: 10px;
}

.fa-user-alt{
    color: black;
    font-size: 17px;

}

.slider{
    background-image: url(../img/slide01.jpg);
    background-repeat: no-repeat;
    margin: 10px auto;
    width: 1888px;
    height: 680px;
    object-fit: cover;
    font-family: " Ubuntu",sans-serif;
    position: relative;
    
}
.text{
    margin:0 auto;
    text-align: center; 
    width:1885px;
    position: absolute;
    top:27%;
}

.sliderText{
    color: #303030;
    text-transform: uppercase;
    font-size: 41px;
    
    line-height: 80px;
    cursor: pointer;
    font-weight: 30; /*SUAL: Niye bunu deyissemde qalinliqi deyismir?*/
    
    
}

#sliderText1{
    font-size: 81px;
}
.sliderButton{
    background-color: none;
    border-radius: 5px;
    border:1px solid black;
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 1.3125em;
    padding-bottom: 1.3125em;
    transition: all .15s ease;
    margin-top: -4px;
    font-weight: bolder;
}
.sliderButton:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}

.arrows{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 49%;        
    transform: translate(0px, -58%);
    width: 100%;
    z-index: 10;   
}

.arrow:hover{
    color: black;
    transition: all 2.s linear;
    cursor: pointer;
}

.arrow{
    border: none;
    outline: none;
    background: none;
    font-size: 29px;
    padding: 0px 168px;
    color: rgba(136, 136, 136,0.5)

}

#pic3-1,#pic3-2{
    display: flex;
    justify-content: space-between;
}


.heig-295{
    height: 295px;
    background: rgba(48,48,48,0.89);
    
}

.heig-295 div h1{
    margin:0px auto;
}

/*.col-4{
    position: relative;
}*/

.pic{
    border:8px solid black;
    background-image: url(../img/product01.jpg);
    text-align: left;
    color: black;
    position:absolute;
    
    
}




.pic-2{
    border-bottom: 8px solid black;
    border-top: 8px solid black;
    border-right:8px solid black ;
    position:relative;
}

.pi-2{
    background-image: url(../img/product02.jpg);
}
.pi-3{
    background-image: url(../img/product03.jpg);
}

.pic-3{
    border-right:8px solid black;
    border-bottom: 8px solid black;
    border-left:8px solid black;
    background-image: url(../img/product04.jpg);
    position:relative;
    
}

.pic-4{
    border-bottom: 8px solid black;
    border-right:8px solid black ;
    position:relative;
}

.pi-5{
    background-image: url(../img/product05.jpg);
}
.pi-6{
    background-image: url(../img/product06.jpg);
}


.textProduct {
    
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-75%) translateY(-45%);
    color: #303030;
    

  
}
.textProduct h1{
    font-size: 30px;
    font-weight: 550;
}
.textProduct p{
    font-size: 14px;
    font-weight: 70;
}

.pics{
    z-index:1;
}
.overlay{
    background-color: rgba(48,48,48,0.89);
    position: absolute;
    z-index:2;
    width: 100%;
    height: 100%;
    
}