{% extends "main/layout.html" %}{% block content %}



<article class="container b-c-white padding-b-70 margin-t-40">

    <!--Section-1-My services-->

    <section class="  br-r container">
        
            <div class="row ">
                <div class="col-12 d-flex padding-t-50 justify-content-center ">
                    <h1 class="f-fam-lora-serif font-weight-400 ">Postlarımız</h1>
                </div>
            </div>
    </section>

    <!--Section-2-About-->

    <section class="br-1 container">
        <div class="margin-t-75">   
            <div class=" br-2 row padding-0-35 ">
                <div class=" br-3 col-5 h dott">
                    <img src="static/uploads/{{cate1.p_c_image}}" class="width-91 br-1 margin-50-0-0-38 height-330 ">
                </div>
                <div class="br-3 col-7 ">
                    <div class="br-4 height-60 padding-l-50 margin-t-60 ">
                        <h2 class=" letter-space-0-5 font-size-24 f-fam-lora-serif font-weight-400  ">{{cate1.p_c_title}}</h2>
                    </div>
                    <div class="padding-l-50 br-4 d-flex align-items-center height-160">
                        <p class="font-size-15 f-fam-lora-serif">{{cate1.p_c_description}}</p>
                    </div>
                    <div class="padding-l-50 br-4 height-100   ">
                        <a href="postlarKateqoriyali.html"><button class="b-1-37 b-r-25 padding-10-35 b-c-373737 color-white f-fam-lora-serif">{{cate1.p_c_link_title}}</button></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="margin-t-75"> 
            <div class="br-2 row padding-0-35 margin-t-75">
                <div class="br-3 col-7 ">
                    <div class="br-4 height-60  margin-t-60 ">
                        <h2 class=" letter-space-0-5 font-size-24 f-fam-lora-serif font-weight-400  ">{{cate2.p_c_title}}</h2>
                    </div>
                    <div class=" br-4 d-flex align-items-center height-160 padding-r-50">
                        <p class="font-size-15 f-fam-lora-serif  ">{{cate2.p_c_description}}</p>
                    </div>
                    <div class="br-4 height-100   ">
                        <a href="postlarKateqoriyali.html"><button class="b-1-37 b-r-25 padding-10-35 b-c-373737 color-white f-fam-lora-serif">{{cate2.p_c_link_title}}</button></a>
                    </div>
                </div>
                <div class=" br-3 col-5 h dott ">
                    <img src="static/uploads/{{cate2.p_c_image}}" class="padding-l-50 width-91 br-1 obj-fit margin-50-0-0-38 height-330 ">
                </div>
            </div>
        </div>

        <div class="margin-t-75"> 
            <div class="br-2 row padding-0-35 margin-t-75">
                <div class=" br-3 col-5 h dott">
                    <img src="static/uploads/{{cate3.p_c_image}}" class="width-91 br-1 obj-fit margin-50-0-0-38 height-330 ">
                </div>
                <div class="br-3 col-7 ">
                    <div class="br-4 height-60 padding-l-50 margin-t-60 ">
                        <h2 class=" letter-space-0-5 font-size-24 f-fam-lora-serif font-weight-400  ">{{cate3.p_c_title}}</h2>
                    </div>
                    <div class="padding-l-50 br-4 d-flex align-items-center height-160">
                        <p class="font-size-15 f-fam-lora-serif">{{cate2.p_c_description}}</p>
                    </div>
                    <div class="padding-l-50 br-4 height-100   ">
                        <a href="postlarKateqoriyali.html"><button class="b-1-37 b-r-25 padding-10-35 b-c-373737 color-white f-fam-lora-serif">{{cate3.p_c_link_title}}</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <!--Section-3 let's work together-->

     <section class="br-g container">
        <div class="br-1 margin-100-40-0-40">
            <div class="row">
                <div class="height-445 br-r col-12 bac-repeat-no bac-size-cover obj-fit img-cal position-rel">
                    <div class="b-white position-abs-1">
                        <div class="b-c-white b-pink height-271">
                            <div class="d-flex justify-content-center margin-40-30">
                                <h3 class=" f-fam-lora-serif font-weight-500  ">Let’s work togheter</h3>
                            </div>
                            <div class="d-flex justify-content-center ">
                                <p class="color-7A7A7A f-fam-lora-serif text-align-center ">Creativity is allowing yourself to make mistakes. Art is knowing which ones to keep</p>
                            </div>
                            <div class="d-flex justify-content-center margin-t-25">
                                <button class="b-1-37 b-r-25 padding-10-50 b-c-373737 color-white f-fam-lora-serif font-weight-500 ">BİZƏ YAZ</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
      

</article>

  <!--Section-4 Instagram-->

  <section class="container">
    <div class="margin-80-0">
        <div class="row">
            <div class="col-12 d-flex justify-content-center line margin-b-50">
                <p class="padding-0-0-25-0 font-size-26 f-fam-lora-serif font-weight-400 ">Instagram</p>
            </div>
        </div>
    </div>
</section>


{% endblock %}
