body{
    background-color: rgb(165, 212, 243);
}
.slider{
    margin: 75px auto;
    width: 75%;
    border: 10px solid white;
    height: 800px;
    
}

img{
    width: 100%;
    object-fit: cover;
    height: 800px;
}

#text{
    position: absolute;
    background-color: rgba(0,0,0,0.7);;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    top:89.5%;
    color: white;
    

}

#main{
    position: relative;
    transition: all ease 0.3s;
}

p{
    padding: 15px;
}

#arrows{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    display: none;
    
 
}

.Next{
    margin-left: 1280px;
}
