.green,#green{
    background-color: rgb(24, 207, 24);
    height:150px;
    width:150px;
    border: 1px solid white;
}

.yellow,#yellow{
    background-color: yellow;
    height:150px;
    width:150px;
    border: 1px solid white;
}

.red,#red{
    background-color: red;
    height:150px;
    width:150px;
    border: 1px solid white;
    
}

#pond6{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#pond7{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

}

#pond8{
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;

}

#pond9{
    height: 100vh;
    display: flex;
    flex-direction: column;

}

#pond10{
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

#pond11{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

#pond12{
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

}

#pond13{
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;

}

#pond14, #pond15{
    height: 100vh;
    display: flex;
    

}

#yellow14{
    order:1;
    background-color: yellow;
    height:150px;
    width:150px;
}

#red15{
    order:-1;
}

#pond16,#pond17{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

#yellow16{
    align-self:flex-end;
}

#yellow17{
    order:1;
    align-self:flex-end;
}

#pond18{
    display: flex;
    
    height: 100vh;
    flex-wrap: wrap;
}

.green18{
    background-color: rgb(24, 207, 24);
    height:350px;
    width:350px;
    border: 1px solid white;
}

.yellow18{
    background-color: yellow;
    height:350px;
    width:350px;
    border: 1px solid white;
}

.red18{
    background-color: red;
    height:350px;
    width:350px;
    border: 1px solid white;
    
}

#pond19{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
}

.green19{
    background-color: rgb(24, 207, 24);
    height:180px;
    width:180px;
    border: 1px solid white;
}

.yellow19{
    background-color: yellow;
    height:180px;
    width:180px;
    border: 1px solid white;
}

.red19{
    background-color: red;
    height:180px;
    width:180px;
    border: 1px solid white;
    
}

#pond20{
    display: flex;
    height: 100vh;
    flex-flow: column wrap;
    
}

#pond23{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
}

#pond24{
    display: flex;
    height: 100vh;
    flex-flow: column-reverse wrap-reverse;
    justify-content: center;
    align-content: space-between;
    
}
