.main{
    display: flex;
    justify-content: space-between;
}

.size{
    height: 0px;
    width: 0px;
    margin: 30px;
}

#triangle1{
    border-top: 100px solid rgb(236, 177, 177);
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
}


#triangle2{
    border-bottom: 100px solid rgb(125, 230, 177);
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
}

#triangle3{
    border-right: 100px solid rgb(135, 171, 240);
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
}

#triangle4{
    border-left: 100px solid rgb(235, 129, 161);
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
}

#triangle5{
    border-left: 100px solid rgb(152, 204, 247);
    border-top:  100px solid rgb(152, 204, 247);
    border-bottom: 100px solid transparent;
    border-right:  100px solid transparent;
}

#triangle6{
    border-right: 100px solid rgb(195, 127, 201);
    border-top:  100px solid rgb(195, 127, 201);
    border-bottom: 100px solid transparent;
    border-left:  100px solid transparent;
}

#triangle7{
    border-right: 100px solid rgb(244, 248, 180);
    border-bottom:  100px solid rgb(244, 248, 180);
    border-top: 100px solid transparent;
    border-left:  100px solid transparent;
}

#triangle8{
    border-left: 100px solid rgb(210, 172, 233);
    border-bottom:  100px solid  rgb(210, 172, 233);
    border-top: 100px solid transparent;
    border-right:  100px solid transparent;
}

#circle{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: crimson;
    margin:auto;
}