{% extends "admin/base.html" %}{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Əsas səhifənin haqqınımızda hissəsi</h1>
        <hr>
        <h3>Məlumatları daxil edin</h3>
        <form action="{{ url_for('about_s') }}" method="POST" enctype="multipart/form-data">
            <input type="text" class="form-control my-2" name="a_s_title" placeholder="Post Title">
            <textarea class="form-control my-2" name="a_s_description" placeholder="Post Description"></textarea>
            
            <input type="text" class="form-control my-2" name="a_s_link_title" placeholder="Button Title">
            <input type="text" class="form-control my-2" name="a_s_link" placeholder="Button Link">
          
            <input type="file" class="form-control my-2" name='a_s_image'>
            <input type="submit" class="btn btn-success my-2" value='Add Post'>
        </form>
        <hr>
        <h3>Daxil etdiyiniz məlumatlar</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Başlıq hissə</th>
                    <th>Əlavə məlumat</th>
                    <th>Silmə/Yeniləmə</th>
                </tr>
            </thead>
            <tbody>
                {% for i in about_sections %}
                <tr>
                    <td scope="row">{{i.a_s_id}}</td>
                    <td>{{i.a_s_title}}</td>
                    <td>{{i.a_s_description}}</td>
                    <td>
                        <a href="">Delete</a>
                        <a href="">Update</a>
                    </td>
                </tr>
                {% endfor %}
        
            </tbody>
        </table>

    </div>
</div>
{% endblock %}