{% extends "admin/base.html" %} {% block content %}
<div class="flexx">
    <div class="top-navbar">
        <ul class="list-style-type-none">
            <li ><a class="text" href="{{ url_for('slider') }}">Slider</a></li>
            <li><a class="text" href="{{ url_for('about_s') }}">Haqqımızda</a></li>
            <li><a class="text" href="{{ url_for('motivation_word_s') }}">Motivasiya</a></li>
            <li><a class="text" href="{{ url_for('owners_of_the_page_section') }}">Səhifə sahibləri</a></li>
            <li><a class="text" href="{{ url_for('footer_slider_section') }}">Aşağı slider</a></li>
        </ul>
    </div>
  </div>
  <div class="flexx flexx-2">
    <div class="content-div">
<h3 class="my-2">Əsas səhifə_Səhifə sahibləri hissəsi</h3>
<hr>

<form action="{{url_for('owners_of_the_page_section')}}" method='POST' enctype="multipart/form-data">

    {{form.own_title(class='form-control my-2')}}
    {{form.own_description(class='form-control my-2' )}}
    {{form.own_image(class='form-control my-2' )}}
   
    {{form.submit(value='Əlavə et',class='btn btn-primary')}}

</form>
<hr>
<h3>Daxil etdiyiniz məlumatlar</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Başlıq hissə</th>
                    <th>Əlavə məlumat</th>
                    <th>Silmə/Yeniləmə</th>
                </tr>
            </thead>
            <tbody>
                {% for i in Owners %}
                <tr>
                    <td scope="row">{{i.id}}</td>
                    <td>{{i.own_title}}</td>
                    <td>{{i.own_description}}</td>
                    <td>
                        <a href="">Delete</a>
                        <a href="">Update</a>
                    </td>
                </tr>
                {% endfor %}
        
            </tbody>
        </table>

    </div>
</div>
{% endblock %}